<form action="" method="post">
  <div class="card text-bg-primary mt-2">
    <div class="card-header">
      <h5 class="card-title">Blog entry title</h5>
    </div>
    <div class="card-body text-bg-light">
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
    <div class="d-flex card-body text-bg-primary">
      <p class="flex-grow-1 m-auto">Last edited: "date" </p>
      <div>
        <button class="btn btn-success" type="submit" formaction="/edit">
          Edit
        </button>
        <button class="btn btn-danger" type="submit" formaction="/delete">
          Delete
        </button>
      </div>
    </div>
  </div>
</form>
