<%- include('partials/header.ejs') %>

<section id="aboutUsSection">
    <h1 class="text-center display-1 mb-5">About me</h1>
    <div class="container">
        <div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
            <img src='https://placehold.jp/30/dd6699/ffffff/300x150.png?text=placeholder+image' alt='' class='rounded col-8 col-md-4 me-md-2'>
            <div class="align-self-md-start col-8 col-md-4">
              <h2>Section 1</h2>
            <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Finibus mus sed maecenas dictumst vehicula ultrices. Maecenas in mauris nostra tristique; etiam molestie amet. Sed aptent faucibus congue, non lacus venenatis elit tortor.</p>  
            </div>
        </div>
        <hr class="hr hr-blurry" />
        <div class="d-flex flex-column flex-md-row-reverse justify-content-center align-items-center mt-4">
            <img src='https://placehold.jp/30/dd6699/ffffff/300x150.png?text=placeholder+image' alt='' class='rounded col-8 col-md-4'>
            <div class="align-self-md-start col-8 col-md-4 me-md-2">
              <h2>Section 2</h2>
            <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Finibus mus sed maecenas dictumst vehicula ultrices. Maecenas in mauris nostra tristique; etiam molestie amet. Sed aptent faucibus congue, non lacus venenatis elit tortor.</p>  
            </div>
        </div>
    </div> 
</section>
<%- include('partials/footer.ejs') %>